<?xml version="1.0"?>
<model>
    <name>iflight_multi</name>
    <version>1.0</version>
    <sdf version="1.5">iflight_multi.sdf</sdf>
    <author>
        <name>M1NT</name>
        <email>ilya.ablyazov.2004@gmail.com</email>
    </author>
    <license>Unknown</license>
    <description>
        Iflight SITL
    </description>
</model>
